<html>
<head>
<title>Employer ViewAs Page</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style1.css'%}">
</head>
<body>
    <div class="website">
        <header>
           <h3>SIKAP</h3>
            <div class="right-side">
                <a href ="#" class ="logout_btn">Logout</a>
            </div>
        </header> 
    </div>

    <div class="sidebar">
        <center>
            <img src="{% static 'sample.jpg'%}" class ="profile_image" alt="">
        </center>
        <header>H.I.N.T.A.Y</header>
        <ul class ="sidebar-nav">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Search</a></li>
        </ul>
    </div>

    <div class ="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class ="charts">
    </div>

</body>
</html>